.btn {
  cursor: pointer;
  color: $color-primary;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 1rem 1.8rem;
  border: 0.1rem solid $color-primary;
  margin-top: 2.5rem;
  width: 11rem;
  transition: all 0.2s linear;

  &:hover {
    color: $color-gray-dark;
    background-color: $color-primary;
  }

  &--floating,
  &:visited {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 4rem;
    right: 6rem;
    color: $color-primary;
    border-radius: 50px;
    text-align: center;
    z-index: 10000;
  }

  &__icon--center {
    position: relative;
    top: 0.5rem;
  }
}
