.btn {
  cursor: pointer;
  color: $color-primary;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  padding: 1rem 1.8rem;
  border: 0.1rem solid $color-primary;
  margin-top: 2.5rem;
  width: 11rem;
  transition: all 0.2s linear;

  &:hover {
    color: $color-gray-dark;
    background-color: $color-primary;
  }
}
